html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
}
.section-1 {
    height: 850px;
    background: linear-gradient(0deg, rgba(8, 8, 8, 0.9), rgba(20, 20, 20, 0.4)), url(./poze/city1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 234, 234);
}
.section-1 button {
    border: none;
    outline: none;
    background-color: red;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
}
.section-1 button:hover {
    cursor: pointer;
    color: rgb(236, 234, 234);
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    margin-right: 6em;
}
.contacts a {
    text-decoration: none;
}
.contacts i {
    color: rgb(236, 234, 234);
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.contacts i:hover {
    color: red;
}
.phone-nr {
    color: rgb(236, 234, 234);
    margin-right: 2em;
}
.contacts a .phone-icon {
    color: red;
}
.navigation {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}
.navigation > div:first-child {
    font-size: 1.6em;
    color: red;
    text-shadow: 1px 2px 2px #fff;
    font-style: italic;
    font-weight: bold;
}
.navigation nav a {
    text-decoration: none;
    color: rgb(236, 234, 234);
}
.navigation nav span {
    margin: 0 15px;
    font-weight: bold;
}
.navigation nav span:hover {
    color: #fff;
}
.greeting-section {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}
.greeting-section a {
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    border: 2px solid #fff;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 3em;
    color: rgb(236, 234, 234);
}
.greeting-section a:hover {
    background-color: red;
    opacity: 0.8;
}
.greeting-section a span {
    margin-right: 1em;
}
.greeting-section h1 {
    font-size: 3em;
}
.quotes {
    width: 100%;
    height: 200px;
}
.welcome {
    font-size: 1.6em;
}
.welcome::after {
    content: "";
    border-top: 2px solid red;
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.greeting-section p {
    width: 60%;
    margin: 0 auto;
    font-size: 0.9em;
}


.section-2 {
    height: 900px;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.4), rgba(0, 0, 0, 0.9)), url(./poze/city2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(236, 234, 234);
}
.section-2-container {
    width: 80%;
    margin: 0 auto;
}
.attributes {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}
.attributes > div {
    width: 23%;
    padding: 20px;
    margin-right: 20px;
    background-color: rgb(43, 43, 43);
    color: rgb(236, 234, 234);
}
.atributes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.atributes-wrapper i {
    font-size: 50px;
    color: red;
    margin-bottom: 10px;
}
.attributes p {
    text-align: center;
}
.services {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    margin-top: 75px;
}
.services span {
    text-shadow: 1px 2px 2px red;
    font-style: italic;
}
.services::after {
    content: "";
    display: block;
    border-top: 2px solid red;
    margin: 0 auto;
    width: 80px;
    margin-top: 20px;
}
.services-box {
    display: flex;
    margin-top: 40px;
}
.services-wrapper {
    width: 25%;
}
.services-wrapper > div {
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-bottom: 1px solid black;
    padding: 20px 0 20px 15px;
}
.services-wrapper > div:hover {
    background-color: red;
    cursor: pointer;
}
.services-wrapper > div div {
    width: 50px;
    font-size: 30px;
    margin-right: 15px;
}
.services-wrapper span {
    font-size: 1.1em;
}
.services-description {
    width: 75%;
    
}
.services-description > div {
    padding-left: 20px;
    background-color: red;
    height: 100%
}
.description-box {
    display: flex;
}
.description-box > div {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.description-box > div:first-child {
    padding-top: 40px;
}

.plumbing > div:last-child {
    background-image: url(./poze/plumbing.jpg);
    z-index: 1;
}
.electricity > div:last-child {
    background-image: url(./poze/electricity.jpg);
    z-index: 2;
}
.carpentry > div:last-child {
    background-image: url(./poze/carpentry.jpg);
    z-index: 3;
}
.decoration > div:last-child {
    background-image: url(./poze/decoration.jpg);
    z-index: 4;
}
.refurbishments > div:last-child {
    background-image: url(./poze/refurbishments.jpg);
    z-index: 5;
}
.extensions > div:last-child {
    background-image: url(./poze/extensions.jpg);
    z-index: 6;
}

.section-3 {
    height: 900px;
    padding-top: 50px;
    background-color: rgb(43, 43, 43);
    color: rgb(236, 234, 234);
}
.projects {
    text-align: center;
    font-size: 1.5em;
}
.projects::after {
    content: "";
    display: block;
    border-top: 2px solid red;
    width: 80px;
    margin: 0 auto;
    margin-top: 0.5em;
}
.section-3 nav {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 82%;

}
.section-3 nav span {
    padding: 20px 15px;
    font-size: 1.2em;
}
.section-3 nav span:hover {
    background-color: red;
}
.projects-box {
    border-top: 3px solid red;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.projects-box > div {
    width: 25%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-box > div:hover {
    box-sizing: border-box;
    border: 5px solid red;
}
.projects-box > div:hover::after {
    content: "AXE STREET, IG11";
    display: flex;
    justify-content: center;
    margin-top: 35%;
    font-weight: bold;
}
.projects-box > div:first-child {
    background-image: url(./poze/building1.jpg);   
}
.projects-box > div:first-child:hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building1.jpg);   
}
.projects-box > div:nth-child(2) {
    background-image: url(./poze/building2.jpg);   
}
.projects-box > div:nth-child(2):hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building2.jpg);   
}
.projects-box > div:nth-child(3) {
    background-image: url(./poze/building3.jpg);    
}
.projects-box > div:nth-child(3):hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building3.jpg);    
}
.projects-box > div:nth-child(4) {
    background-image: url(./poze/building4.jpg);    
}
.projects-box > div:nth-child(4):hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building4.jpg);    
}
.projects-box > div:nth-child(5) {
    background-image: url(./poze/building5.jpg);   
}
.projects-box > div:nth-child(5):hover {
    background-image:  linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building5.jpg);   
}
.projects-box > div:nth-child(6) {
    background-image: url(./poze/building6.jpg);   
}
.projects-box > div:nth-child(6):hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building6.jpg);   
}
.projects-box > div:nth-child(7) {
    background-image: url(./poze/building7.jpg);
}
.projects-box > div:nth-child(7):hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building7.jpg);
}
.projects-box > div:last-child {
    background-image: url(./poze/building8.jpg);
}
.projects-box > div:last-child:hover {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.7), rgba(17, 17, 17, 0.7)), url(./poze/building8.jpg);
}
.view-projects {
    width: fit-content;
    margin: 0 auto;
    margin-top: 70px;
}
.view-projects a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    padding: 10px 35px;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 5px;
}
.view-projects a:hover {
    background-color: red;
    opacity: 0.8;
}
.view-projects a span {
    margin-right: 10px;
}

.section-4 {
    height: 400px;
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.5), rgba(17, 17, 17, 0.5)), url(./poze/workers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 15% 0 15%;
    text-align: center;
    color: rgb(236, 234, 234);
}
.section-4 > span {
    font-size: 1.5em;
    font-weight: bold;
}
.section-4 > span::after {
    content: "";
    display: block;
    border-top: 3px solid red;
    width: 80px;
    margin: 0 auto;
    margin-top: 0.5em;
}
.section-4 > p {
    margin-top: 50px;
}
.stats {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats > div {
    display: flex;
    align-items: center;
    width: 15%;
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
}
.stats .stats-nr {
    font-size: 40px;
    color: red;
    margin-right: 5px;
}
.stats .red-box {
    width: 15px;
    height: 15px;
    background-color: red;
}

.section-5 {
    height: 400px;
    display: flex;
    color: rgb(236, 234, 234);
    
}
.section-5 > div {
    width: 50%;
}
.review-wrapper {
    background-color: red;
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.review-wrapper > span:first-child {
    font-size: 1.5em;
}
.review-wrapper > i {
    margin: 20px 0 20px -55px;
    font-size: 3em;
}
.review-wrapper p {
    margin: 0;
}
.review-name {
    margin-top: 1em;
    opacity: 0.7;
    font-weight: bold;
}
.lobby-pic {
    background-image: url(./poze/hallway.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid red;
    top: 35%;
    right: -59px;
}
.arrow-wrapper {
    display: flex;
}
.arrow-wrapper > a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    background-color: rgb(43, 43, 43, .8);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
.arrow-wrapper > a:hover {
    background-color: rgb(43, 43, 43, .6);
}
.section-6 {
    background-color: rgb(43, 43, 43);
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(180, 179, 179);
}
.section-6-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.section-6-container > div {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-6-container > div span {
    margin-bottom: 1em;
}
.section-6-container > div span:first-child {
    color: red;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.1em;
}
.bottom-icons-wrapper {
    display: flex;
}
.bottom-icons-wrapper a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    margin-right: 1em;
}
.bottom-contacts-wrapper {
    display: flex;
    align-items: center;
}
.bottom-contacts-wrapper > div:first-child {
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.bottom-contacts-wrapper i {
    font-size: 45px;
}
.bottom-contacts-wrapper > div:last-child {
    display: flex;
    flex-direction: column;
}
.bottom-contacts-wrapper > div:last-child span {
    margin: 0;
}

footer {
    background-color: rgb(31, 30, 30);
    color: rgb(180, 179, 179);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

